$cyan: #0980AD;
$dark-gray: #25292E;
$var3: #40454A;
$var4: #515A63;
$var5: #AFB2B5;
$yellow: #FFCE4E;
$var7: #C7CFD9;
$var8: #3B3F43;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
// Reset Css

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, summary, time, mark, audio, video, button, content {
	margin: 0;
	padding: 0;
	border: 0;
	zoom: 1;
}
button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
a {
	cursor: pointer;
	&:visited {
		color: transparent;
	}
}
// Overall

body{
	position: relative;
	font-family: Cera Pro;
	font-style: normal;
}

.color-blue {
	color: $cyan;
}
.color-gray {
	color: $dark-gray;
}
.container {
	width: 1175px;
	margin: 0 auto;
}
ul, li {
	display: inline-block;
}
.title {
	color: $dark-gray;
	font-weight: bold;
	font-size: 42px;
	line-height: 130%;
}
.subtitle {
	color: $var3;
	font-weight: normal;
	font-size: 18px;
	line-height: 160%;
}

//Breadcrumbs

.breadcrumbs {
	padding: 24px 0px;
	li {
		a {
			color: #515A63;
			font-size: 14px;
			line-height: 140%;
		}
		&:last-child a{
			color: #AFB2B5;
		}
		&+li:before {
			padding: 0px 8px;
			content: url('../../images/icon/arrow-gray.svg');
			bottom: 0px;
		}
		&+li:last-child:before {
			padding: 0px 8px;
			content: url('../../images/icon/arrow-light-gray.svg');
			bottom: 0px;
		}
	}
}

//Header

.header-wrapper {
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.switch-lang {
	display: flex;
	margin: 0px 30px;
}
.ru, .ua {
	font-weight: 500;
	font-size: 15px;
	opacity: 0.4;
	margin: 6px;
	color: $dark-gray;
	&:focus {
		opacity: 1;
		color: $dark-gray;
	}
}
.logo-lang {
	display: flex;
}
.numbers-log-connect {
	display: flex;
	align-items: center;
}
.number {
	display: flex;
	align-items: center;
	margin: 0px 15px;
	img {
		margin-right: 8px;
	}
}
.contact-numbers {
	display: flex;
	p {
		color: $dark-gray;
		font-weight: 500;
		font-size: 17px;
	}
}
.log-in {
	display: flex;
	button {
		font-weight: 500;
		font-size: 14px;
		color: $dark-gray;
		border: 2px solid $yellow;
		padding: 11px 30px;
		border-radius: 4px;
		margin: 0px 25px;
		transition-duration: .1s;
		&:focus {
			color: $dark-gray;
			background-color: $yellow;
			border: 2px solid $yellow;
		}
	}
}
.connect {
	display: flex;
	button {
		font-weight: bold;
		font-size: 14px;
		color: $dark-gray;
		border: 2px solid $yellow;
		padding: 11px 30px;
		border-radius: 4px;
		transition-duration: .1s;
		background-color: $yellow;
	}
}

//Navigation

nav {
	background-color: $var3;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.nav-wrapper {
	display: flex;
	justify-content: space-between;
}
.nav-menu div {
	cursor: pointer;
	padding: 18px 0px 18px 37px;
	border-bottom: 3px solid transparent;
	transition-duration: 0.1s;
	&:after {
		content: "";
		padding-right: 37px;
		border-right: 1px solid rgba(255,255,255,0.15);
	}
	&:hover {
		border-bottom: 3px solid #FFCE4E;
	}
}
.nav-menu{
	& div{
		position: relative;
	}
	.nav-tab{
		left: 0;
		margin-top: 21px;
		position: absolute;
		background-color: #40454A;
		z-index: 100;
		display: none;
		min-width: 200px;
		& li{
			display: block;
			padding: 10px;
			&:hover{
				background-color: #3B3F43;
				width: 100%;
			}
		}
	}
	& div:hover .nav-tab{
		display: block;
	}
    &:hover .nav-title{
	    color: #FFCE4E;
	    path {
		    fill: #FFCE4E;
	    }
    }
}
.delivery div:after {
	content: "";
	padding-right: 0px;
	border-right: none;
}
.services div {
	padding-left: 0px;
}
.arrow {
	transform: rotate(90deg);
	margin-left: 5px;
	path {
		fill: white;
	}
}
.nav-menu a {
	color: white;
	font-weight: 500;
	font-size: 16px;
}

//Footer

.footer {
	background-color: $var7;
	&-wrapper {
		padding: 50px 0px 40px 0px;
	}
	&-nav-title {
		color: #C7CFD9;
		font-family: Cera Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		padding-bottom: 19px;
	}
	&-nav-link {
		display: flex;
		flex-direction: column;
		a, &-col2 a {
			color: white;
			font-family: Cera Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 34px;
		}
		a:last-child {
			line-height: 18px;
		}
		&-col2 {
			display: flex;
		}
	}
	&-nav {
		display: flex;
		justify-content: space-between;
		width: 80%;
		&-col {
			display: flex;
			flex-direction: column;
			&2 {
				padding-left: 45px;
			}
		}
	}
	&-nav {
		padding-bottom: 45px;
	}
	&-contact-copyright {
		width: 80%;
		display: flex;
		justify-content: space-between;
	}
	&-contact-copy {
		width: 34%;
		color: white;
		font-family: Cera Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
	}
	&-contact-tel p:first-child {
		padding-right: 25px;
	}
	&-contact-tel {
		display: flex;
		color: white;
		font-family: Cera Pro;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}
	&-contact-schedule {
		font-family: Cera Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: white;
		opacity: 0.6;
	}
	&-contact-site {
		font-family: Cera Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: white;
	}
	&-contact {
		width: 66%;
		display: flex;
		justify-content: space-between;
	}
	&-lower {
		display: flex;
		padding-top: 40px;
		align-items: center;
		border-top: 2px solid rgba(255, 255, 255, 0.15);
		&-social {
			width: 20%;
			display: flex;
			justify-content: flex-end;
			a {
				display: flex;
			}
			&-padding {
				padding: 0px 15px;
			}
		}
	}
}
