*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration:none;
}

/* Reset Css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, summary, time, mark, audio, video, button, content{
 margin: 0;
 padding: 0;
 border: 0;
 zoom: 1;
}

button{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus{
	outline: none;
}

a{
	cursor: pointer;
}

/* Overall */

body{
	font-family: 'Cera-Pro';
}

.container{
	width: 1175px;
	margin: 0 auto;
}

ul,li{
	display: inline-block;
}

.color-blue{
	color:#0980AD;
}

.color-gray{
	color:#25292E;
}

/* Header */

.part1{
	background-image: url(../images/icon/main/part1/background.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header-wrapper{
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Switch lang */

.switch-lang{
	display: flex;
	margin: 0px 30px;
}

.ru,
.ua{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
	opacity: 0.4;
	margin: 6px;
	color: white;
}

.ru:focus,
.ua:focus{
	opacity: 1;
	color: #FCBD17;
}

/* Logo and Lang */

.logo-lang{
	display: flex;
}

/* Contact numbers,Log in,Connect */

.numbers-log-connect{
	display: flex;
	align-items: center;
}

.number{
	display: flex;
	align-items: center;
	margin: 0px 15px;
}

.number img{
	margin-right: 8px;
}

.contact-numbers{
	display: flex;
}

.contact-numbers p{
	color: white;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.log-in{
	display: flex;
}

.log-in button{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
	color: white;
	border: 2px solid white;
	padding: 11px 30px;
	border-radius: 4px;
	margin: 0px 25px;
	transition-duration: .1s;
}

.connect{
	display: flex;
}

.connect button{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
	color: black;
	border: 2px solid #FFCE4E;
	padding: 11px 30px;
	border-radius: 4px;
	transition-duration: .1s;
	background-color: #FFCE4E;
}

.log-in button:focus{
	color: black;
	background-color: #FFCE4E;
	border: 2px solid #FFCE4E;
}

/* Navigation */

nav{
	background-color: white;
}

.nav-wrapper{
	display: flex;
	justify-content: space-between;
}

.nav-menu div{
	cursor: pointer;
	padding: 18px 0px 18px 37px;
	border-bottom: 3px solid transparent;
	transition-duration: 0.1s;
}

.nav-menu div:after{
	content: "";
	padding-right: 37px; 
    border-right: 1px solid rgba(37,41,46,0.15);
}

.delivery div:after{
	content: "";
	padding-right: 0px; 
    border-right: none;
}

.services div{
	padding-left: 0px;
}

.nav-menu div:hover{
	border-bottom: 3px solid #FFCE4E;
	color: #FFCE4E;
}

.nav-menu div a {
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

/* Part1 */

.part1-left{
	width: 50%;
}

.part1-right{
	display: flex;
	justify-content: center;
	padding: 108px 0px 128px 0px;
	width: 50%;
}

.part1-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
	color: white;
}

.part1-caption span{
	color: #FFCE4E;
}

.part1-description{
	color: white;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 30px 0px;
}

.part1-content-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.part1-button-connect button{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
	padding: 16px 35px;
	border-radius: 4px;
	color: black;
	background-color: #FFCE4E;
	box-shadow: 0px 4px 20px 0px rgba(255,206,78,0.30), 0px 4px 4px 0px rgba(0,0,0,0.30);
}

.part1-inscription{
	top: 60px;
    right: 0;
    margin-right: -70px;
    position: absolute;
    z-index: 10;
}

/* Part1 animate circle */

.part1-animate-circle{
	position: relative;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 206, 78, 0.12) 0.26%, rgba(255, 206, 78, 0) 100%);
	width: 380px;
	height: 380px;
}

.part1-animate-circle a{
	display: flex;
    top: 175px;
    left: 175px;
    position: absolute;
    z-index: 10;
}

.part1-animate-border1{
	width: 180px;
	height: 180px;
}

.part1-animate-border2{
	width: 245px;
	height: 245px;
}

.part1-animate-border3{
	width: 380px;
	height: 380px;
}

.part1-animate-border1:after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 180px;
    height:180px;    
    border-left: 1px solid rgba(199, 207, 217, 0.3);
    border-right: 1px solid transparent;
    border-top: 1px solid rgba(199, 207, 217, 0.3);
    border-bottom: 1px solid transparent;
    border-radius: 50%;
	  animation: circle1 5s infinite linear;
}

.part1-animate-border2:after {
    content: "";
    position: absolute;
    top: 67px;
    left: 67px;
    width: 245px;
    height:245px;    
    border-left: 5px solid #FFCE4E;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFCE4E;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: circle2 7s infinite linear;
}

.part1-animate-border3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 380px;    
    border-left: 1px solid rgba(199, 207, 217, 0.3);
    border-right: 1px solid transparent;
    border-top: 1px solid rgba(199, 207, 217, 0.3);
    border-bottom: 1px solid transparent;
    border-radius: 50%;
    animation: circle3 9s infinite linear;
}


@keyframes circle1{
	from {
		transform: rotate(-90deg);
  }

  to {
		transform: rotate(270deg);
  }
}

@keyframes circle2{
	from {
		transform: rotate(-90deg);
  }

  to {
		transform: rotate(270deg);
  }
}

@keyframes circle3{
	from {
		transform: rotate(-90deg);
  }

  to {
		transform: rotate(270deg);
  }
}

/* Part2 */

.part2-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 75px 0px;
}

.part2-img{
	width: 49%;
}

.part2-img img{
	width: 100%;
}

.part2-content{
	width: 49%;
}

.part2-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
}

.part2-description{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #40454A;
}

.part2-description p:first-child{
	padding: 20px 0px;
}

/* Part3 */

.part3{
	background-color: #F7F7F8;
}

.part3-wrapper{
	padding: 130px 0px;
}

.part3-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #25292E;
    padding-bottom: 50px;
}

.part3-containers{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 35px 70px;
}

.part3-container-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #25292E;

}

.part3-container-text{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #40454A;
    width: 379px;
    padding-top: 10px;
    line-height: 180%;
}

.part3-container{
	display: flex;
}

.part3-warehouse,
.part3-package,
.part3-gold,
.part3-delivery,
.part3-headphone,
.part3-desktop{
	background-color: #0980AD;
	padding: 29px;
	border-radius: 50%;
	width: 90px;
    height: 90px;
	box-shadow: 4px 10px 40px rgba(9, 128, 173, 0.35);
}
.part3-warehouse:before{
	content: url(../images/icon/main/part3/warehouse.svg);
}

.part3-package:before{
	content: url(../images/icon/main/part3/package.svg);
}

.part3-gold:before{
	content: url(../images/icon/main/part3/gold.svg);
}

.part3-delivery:before{
	content: url(../images/icon/main/part3/delivery.svg);
}

.part3-headphone:before{
	content: url(../images/icon/main/part3/headphones.svg);
}

.part3-desktop:before{
	content: url(../images/icon/main/part3/desktop.svg);
}

.part3-caption-text{
	padding-left: 30px;
}

/* Part4 */

.part4-wrapper{
	padding: 130px 0px;
}

.part4-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
}

.part4-button button{
	background-color: #0980AD;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: white;
    padding: 18px 42px;
	display: inline-flex;
	border-radius: 4px;
    box-shadow: 6px 14px 40px rgba(9, 128, 173, 0.21); 
}

.part4-caption-button{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.part4-containers{
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;
}

.part4-container{
	background: #EDEEEF;
	border-radius: 6px;
	padding: 30px;
	display: inherit;
	background-image: url(../images/icon/main/part4/yellow-corner.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.part4-container:hover{
	background: linear-gradient(112.04deg, #FDCA44 7.12%, #FEE4A2 125.62%);
    box-shadow: 10px 20px 40px rgba(254, 210, 95, 0.49);
	transition-duration: 0.2s;
}

.part4-container-title{
	display: flex;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #25292E;
}

.part4-container-more-details{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #25292E;
}

.part4-container-more-details img{
	margin-bottom: -1px; 
}

.part4-detail-icon{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.part4-icon img{
	display: flex;
	margin-bottom: -20px;
}


/* Part5 */

.part5{
	background-color: #F7F7F8;
}

.part5-wrapper{
	padding: 130px 0px;
}

.part5-caption{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
}

.part5-image{
	display: flex;
	margin-left: -20px;
}

.part5-caption-button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 65px;
}

.part5-button{
	display: flex;
}

.part5-button button{
	display: flex;
	padding: 9px 24px;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
	transition-duration: 0.2s;
	z-index: 1;
}

.part5-button1{
	border-radius: 6px 0px 0px 6px;
}

.part5-button2{
	border-radius: 0px 6px 6px 0px;
}

.part5-active{
	border-radius: 6px !important;
	background-color: #0980AD !important;
	color: white !important;
	z-index: 100 !important;
}

.part5-no-active{
    background-color: white !important; 
    color: #25292E !important;
}
	
.part5-image{
	width: 100%;
}

.part5-image-1{
    content: url("../images/icon/main/part5/photo.svg");
}

.part5-image-2{
	content: url("../images/icon/main/part5/photo-cross.svg");
}

/* Part6 */

.part6-wrapper{
	padding-top: 90px;
	padding-bottom: 130px;
}

.part6-upper{
	display: flex;
}

.part6-upper-right{
	position: absolute;
	right: 0;
}

.part6-upper-right img{
	margin-top: -62px;
	width: 100%;
}

.part6-title{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
}

.part6-description{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
	color: #40454A;
	width: 621px;
	padding-top: 12px;
}

.part6-deliver-logo{
	display: flex;
}

.part6-deliver-logo a{
	width: 170px;
    height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #C7CFD9;
    border-radius: 4px;
	margin: 30px 15px;
	transition-duration: .2s;
}

.part6-deliver-logo a:hover{
	border: transparent;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.part6-deliver-logo a img{
	display: inline-block;
	vertical-align: top;
}

.part6-deliver-logo a:last-child{
	margin-right: 0px;
}

.part6-deliver-logo a:first-child{
	margin-left: 0px;
}

.part6-upper-left{
	padding-right: 95px;
}

.part6-lower-title{
	display: flex;
	padding-top: 70px;
	font-family: Cera Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 150%;
	color: #25292E;
}

.part6-lower-description{
	display: flex;
	padding-top: 12px;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
	color: #40454A;
}

/* Carousel */

.part6-carousel-container a{
	width: 170px;
    height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #C7CFD9;
    border-radius: 4px;
	margin: 30px 0px;
	transition-duration: .2s;
}

.owl-carousel .owl-item img{
	width: auto !important;
}

.icon-next{
	transform: rotate(180deg);
}

.part6-carousel-container a:hover{
	border: transparent;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.owl-carousel .owl-nav{
	display: inline-flex !important;
}

.owl-next,
.owl-prev{
	top: 30%;
	position: absolute;
	background: transparent !important;
}

.owl-next{
	display: flex !important;
	right: 0;
	margin-right: -43px !important;
}

.owl-prev{
	display: flex !important;
	left: 0;
	margin-left: -43px !important;
}

svg:hover #nextIcon,
svg:hover #prevIcon{
	fill: #0980AD;
}

#nextIcon,
#prevIcon{
	transition-duration: 0.1s;
}

/* Part7 */
.part7{
	background-color: #F7F7F8;
}

.part7-wrapper{
	padding: 130px 0px 215px 0px;
}

.part7-title{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
	padding-bottom: 40px;
}

.part7-containers{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;
}

.part7-container{
	display: flex;
	justify-content: space-between;
	width: 570px;
	background: #56A9C9;
    border-radius: 6px;
	padding: 40px 20px 40px 40px;
}

.part7-container-text{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
	color: white;
	margin-right: -10px;
}

.part7-container-icon{
	margin-top: -57px;
}

.part7-container:hover{
	transition-duration:0.2s;
	background: linear-gradient(97.24deg, #0E91C2 9.34%, #56A9C9 110.96%);
    box-shadow: 10px 20px 60px rgba(14, 145, 195, 0.46);
}

/* Part8 */

.part8-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 95px 0px 120px 0px;
}

.part8-title{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
}

.part8-description{
	padding: 12px 0px 24px 0px;
}

.part8-description p{
	display: flex;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
}

.part8-description p:last-child{
	padding-top: 5px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
}

.part8-button{
	display: inline-flex;
	padding: 16px 30px;
	background-color: #FFCE4E;
	box-shadow: 6px 14px 40px rgba(255, 206, 78, 0.5);
    border-radius: 6px;
}

.part8-button button{
	display: flex;
	align-items: center;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.part8-button img{
	margin-top: 4px;
	margin-left: 10px;
}

.part8-right{
	position: absolute;
	display: flex;
	right: 0;
	margin-top: -165px;
}

/* Part9 */

.part9{
	background: #F7F7F8;
}

.part9-wrapper{
	padding: 120px 0px 140px 0px;
}

.part9-text{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 150%;
    text-align: center;
}

.part9-button{
	display: flex;
	justify-content: center;
	margin-top: 34px;
}

.part9-button button{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
	padding: 16px 35px;
	color: black;
	background: #FFCE4E;
    box-shadow: 6px 14px 40px rgba(255, 206, 78, 0.5);
    border-radius: 6px;
}

/* Footer */

.footer{
	background-color: #3B3F43;
}

.footer-wrapper{
	padding: 50px 0px 40px 0px;
}

.footer-nav-title{
	color: #C7CFD9;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	padding-bottom: 19px;
}

.footer-nav-link{
	display: flex;
	flex-direction: column;
}

.footer-nav-link a,
.footer-nav-link-col2 a{
	color: white;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
}

.footer-nav-link a:last-child{
	line-height: 18px;
}

.footer-nav{
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.footer-nav-col{
	display: flex;
	flex-direction: column;
}

.footer-nav-link-col2{
	display: flex;

}

.footer-nav-col2{
	padding-left: 45px;
}

.footer-nav{
	padding-bottom: 45px;
}

.footer-contact-copyright{
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.footer-contact-copy{
	width: 34%;
	color: white;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer-contact-tel p:first-child{
	padding-right: 25px;
}

.footer-contact-tel{
	display: flex;
	color: white;
	font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.footer-contact-schedule{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
	color: white;
	opacity: 0.6;
}

.footer-contact-site{
	font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
	color: white;
}

.footer-contact{
	width: 66%;
	display: flex;
	justify-content: space-between;
}

.footer-lower{
	display: flex;
	padding-top: 40px;
	align-items: center;
	border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.footer-lower-social{
	width: 20%;
	display: flex;
	justify-content: flex-end;
}

.footer-lower-social a{
	display: flex;
}

.footer-lower-social-padding{
	padding: 0px 15px;
}
